@charset "UTF-8";
/*CSS Document */

body {
    background-color: #285680;
}


.stew-content {
    background-color: #cccccc;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1,h2,h3 {
    color: #805e28;
}

footer {
    background-color: #805e28;
    color: white;
    padding-top: 7px;
   padding-bottom: 7px;
   clear:both;
   padding-left: 5px ;
}
